.menu-comp {
	position: fixed;
	right: 0px;
	top: 0px;
	transition: all 1s;
}

.hamburger-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 40px;
	min-height: 40px;
	padding: 10px;
	margin: 4px;
	border-radius: 8px;
	background: transparent;
	transition: all 0.5s;

}
.hamburger-menu:hover {
	background: rgba(0, 0, 0, 0.5); 
}

.hamburger-menu div {
	background: black;
	min-height: 2px;
}
.the-menu {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.the-menu ul {
	list-style: none;
	text-align: center;
}
.the-menu ul li {
	margin: 8px;
}
.the-menu ul li:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.6);
}
