.hamster-card-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
	background: var(--color6);
	padding: 16px;
	border-radius: 2em;
	transition: all 1s;
	color: var(--color7);
}

.hamster-card-wrapper img {
	width: 300px;
	height: 200px;
	object-fit:cover;
	border-radius: 2em;
}