.winner-loser-stats-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--color7);
	text-align: center;
}
.winner-loser-stats-wrapper .winner-loser-stats {
	display: flex;
	flex-direction: row;
	grid-template-rows: auto auto auto;
	align-items: center;
	gap: 2em;	
}
.winner-loser-stats > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.matches-between {
	background: var(--color4);
	border-radius: 2em;
	padding: 1em;
	border: 0.5em double var(--color6);
	color: var(--color2);
}
.matches-border {
	border: 0.5em double var(--color6);
	border-radius: 3em;
}
.matches-between-score {
	border-radius: 50%;
	background: var(--color6);
	width: 2em;
	padding: 3px 1px 1px 1px;
	justify-self: center;
	border: 0.2em double var(--color7);
	color: var(--color7);
	margin-top: 1em;
}
.matches-between-score.none-border {
	border: none;
	margin-top: 0.5em;
}