@font-face {
	font-family: header;
	src: url(./fonts/StardosStencil-Regular.ttf);
}

* {
	margin: 0px;
	padding: 0px;
}
html {
	background: radial-gradient(var(--color4) 20%, black 65%);
	background-repeat: no-repeat;
 	background-attachment: fixed;
	height: 100%;
}
body {
	height: 100%;
	font-family: header, 'Times New Roman', Times, serif;
}

:root {
	--color1: #a40b00;
	--color2: #F45549;
	--color3: #F21000;
	--color4: #732822;
	--color5: #C20D00;
	--color6: rgba(0, 0, 0, .7);
	--color7: rgba(256, 256, 256, .7);
}